invoice-ai-agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ngEAPwpl6s2sGuUOE84S3K21K2DqQAxp",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ngEAPwpl6s2sGuUOE84S3K21K2DqQAxp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3e8c325-9ee6-49a2-9054-155a6cc205e4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aM0IpCc1fuQOcj67",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "1f08782a-3001-4da8-adef-8f1c938e85d6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "The name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "the email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "The phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "The total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "The date of the invoice sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The date the invoice is due",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "a9f42179-458a-404f-b07e-dceab9b5783a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "1786a393-8f5b-4a5c-a3c5-3d4830dfcec9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "u9C4DAfDzsMdeoe7",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZA-rt0ORpoJUzvbfVSvIE6nPb5NfMcrfpG3lLS6ssJs",
          "mode": "list",
          "cachedResultName": "InvoiceDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZA-rt0ORpoJUzvbfVSvIE6nPb5NfMcrfpG3lLS6ssJs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZA-rt0ORpoJUzvbfVSvIE6nPb5NfMcrfpG3lLS6ssJs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "ab3a6680-8f79-4853-b428-4cec22a29947",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VTciKPhExrKKW8Y5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "1a4669b1-160a-4694-a488-b22e54c416c5",
      "name": "Download Binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aM0IpCc1fuQOcj67",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=An invoice has been processed and stored in the database.\n\nInvoive Number: {{ $json['Invoice Number'] }}\n\nClient Name: {{ $json['Client Name'] }}\n\nClient Email: {{ $json['Client Email'] }}\n\nTotal Amount: {{ $json['Total Amount'] }}\n\nInvoice Date: {{ $json['Invoice Date'] }}\n\nDue Date: {{ $json['Due Date'] }}\n\nGenerate:\n1. A clear professional email subject\n2. A concise email body notifying the billing team",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#Overview\nYou are an email expert for LancerCo name Sourabh. You will receive the invoice information Your job is to notify the the internal billing team that the invoice is received or sent.\n\n##Email\nInform the billing team for the invoice. Let them know we have already updated this invoice in the database, you can view it here: https://docs.google.com/spreadsheets/d/1ZA-rt0ORpoJUzvbfVSvIE6nPb5NfMcrfpG3lLS6ssJs/edit?gid=0#gid=0 "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        0
      ],
      "id": "7ff17e75-5eac-4772-88a9-438d7153d57b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1056,
        208
      ],
      "id": "87edcc97-e683-4ed8-bd0d-f515bb5bd039",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "u9C4DAfDzsMdeoe7",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=lancerco.tech@gmail.com",
        "subject": "={{ $json.output.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.output.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        0
      ],
      "id": "93cb062b-f3c7-4990-99f6-2afcb506e769",
      "name": "Send Email",
      "webhookId": "90244f08-4bbd-4e6c-be4f-ad7a385c5a07",
      "credentials": {
        "gmailOAuth2": {
          "id": "5pAmw69EpoaBlVFI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_subject\": \"string\",\n  \"email_body\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1456,
        304
      ],
      "id": "90d7adc0-9c9c-4e89-9e33-f6016b795fd3",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1ngEAPwpl6s2sGuUOE84S3K21K2DqQAxp"
          ],
          "lastModifyingUser": {
            "displayName": "Sourabh Pal",
            "kind": "drive#user",
            "me": true,
            "permissionId": "03552678955109645523",
            "emailAddress": "sourabh.2004.p4l@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIQ1iVfCN9sLNHJbklZcdKS8udlWOy1Z3AM75Q0PtY1xpMgRA=s64"
          },
          "owners": [
            {
              "displayName": "Sourabh Pal",
              "kind": "drive#user",
              "me": true,
              "permissionId": "03552678955109645523",
              "emailAddress": "sourabh.2004.p4l@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIQ1iVfCN9sLNHJbklZcdKS8udlWOy1Z3AM75Q0PtY1xpMgRA=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "03552678955109645523",
              "type": "user",
              "emailAddress": "sourabh.2004.p4l@gmail.com",
              "role": "owner",
              "displayName": "Sourabh Pal",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIQ1iVfCN9sLNHJbklZcdKS8udlWOy1Z3AM75Q0PtY1xpMgRA=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "03552678955109645523"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1gupoxtjDlcL8DDsOE9Jrpe_wgcys9KvA",
          "name": "LancerCo Invoice.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1gupoxtjDlcL8DDsOE9Jrpe_wgcys9KvA&export=download",
          "webViewLink": "https://drive.google.com/file/d/1gupoxtjDlcL8DDsOE9Jrpe_wgcys9KvA/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOrsH8nZGwaLWw8h0wphszFVlVApyi3e82vBTjHXt7eK2yJ-HKc3Ox-t68K3k-fEvD6YwIq37z0Y-SvQvYNMBOMt0yLM0sKBvDrQGD3fQ-tR5c=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-12-29T07:40:33.505Z",
          "createdTime": "2025-12-29T07:40:33.505Z",
          "modifiedTime": "2025-12-14T12:46:38.000Z",
          "modifiedByMeTime": "2025-12-14T12:46:38.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "LancerCo Invoice.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "7732f0f8e611e586b04f8abce6795b6b",
          "sha1Checksum": "102a15c26eed16b1f946824f481aa14cd583f19b",
          "sha256Checksum": "9d9886021003986e8499672ce5d2975cdb7b15f3d321c9f1b304d5d92cbcc269",
          "size": "527523",
          "quotaBytesUsed": "527523",
          "headRevisionId": "0BzJRUgMhkYkfSDVoL2plSXY3QmFwY1c0dXBxVjd5RzA4dXdJPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e3fb8978-af77-4c97-90b9-d15d6980a8c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09194beb883e04ac13e7230557ced85d254de3e2f2acc76f53b07192769ac94b"
  },
  "id": "zEkrq4UfiTHxlV3F",
  "tags": []
}